# Generating a matrix with merged day and night OTU counts for the co-occurrence network

We analyzed the cross-correlation between host genes and microbiome. For that purpose, we previously filtered out OTUs with low variance and low abundance. In this notebook, I (RACS) will generate a matrix with merged reads for each plot (day and night merged), to construct a co-occurrence network for the manuscript main text. The idea is also to compare and make sure this network is very similar to the others were analyzed.

In [26]:
import pandas as pd

merged_otu_df = pd.read_csv("/home/santosrac/Repositories/maize_microbiome_transcriptomics/16S_wallace2018/combine_day_night_samples/summed_day_night_otu_counts.tsv",
            sep='\t', index_col=0, dtype={'OTU_ID': str})
merged_otu_df.head()

,14A0247_8,14A0051_8,14A0381_26,14A0533_26,14A0281_8,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
OTU ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,5.0,8.0,6.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,40.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

In [23]:
import pandas as pd

summed_otus_filtered_crosscor = pd.read_csv("/home/santosrac/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/pag_2025/summed_otu_counts_separate_day_night_filtered_cv_filtered_no_duplicated.tsv",
            sep='\t', index_col=0, dtype={'OTU_ID': str})
summed_otus_filtered_crosscor.head()

,14A0253_26,14A0171_26,14A0045_8,14A0085_8,14A0079_26,14A0467_26,14A0039_8,14A0403_26,14A0063_8,14A0513_26,...,14A0175_8,14A0153_8,14A0131_8,14A0179_8,14A0173_8,14A0115_8,14A0435_8,14A0409_26,14A0289_8,14A0139_8
OTU_ID,,,,,,,,,,,,,,,,,,,,,
969149,1.0,5.0,5.0,0.0,1.0,12.0,3.0,8.0,0.0,5.0,...,2.0,10.0,22.0,2.0,5.0,6.0,5.0,3.0,6.0,0.0
111650,1.0,0.0,0.0,7.0,0.0,78.0,0.0,19.0,8.0,381.0,...,6.0,45.0,9.0,2.0,8.0,2.0,5.0,3.0,45.0,1.0
3486915,1.0,5.0,0.0,10.0,0.0,94.0,5.0,7.0,4.0,5.0,...,4.0,1.0,82.0,3.0,5.0,1.0,3.0,4.0,0.0,246.0
810955,0.0,0.0,0.0,5.0,0.0,5.0,0.0,1.0,0.0,3.0,...,0.0,56.0,1.0,3.0,0.0,0.0,48.0,0.0,12.0,0.0
2297613,0.0,0.0,1.0,4.0,0.0,13.0,0.0,5.0,4.0,2.0,...,4.0,28.0,42.0,1.0,13.0,6.0,13.0,4.0,3.0,0.0

In [27]:
import pandas as pd

original_otus_filtered = pd.read_csv("/home/santosrac/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/pag_2025/otu_table_sample_filtered_day_otu_filtered.tsv",
            sep='\t', index_col=0, dtype={'OTU_ID': str})
original_otus_filtered.head()

,14A0247_8,14A0051_8,14A0381_26,14A0533_26,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,14A0547_26,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
969149,0.0,21.0,10.0,1.0,2.0,30.0,0.0,4.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
734945,629.0,110.0,25.0,44.0,236.0,635.0,7860.0,280.0,1102.0,192.0,...,63.0,3.0,16.0,7.0,12.0,498.0,42.0,49.0,62.0,19.0
808437,1.0,15.0,2.0,41.0,0.0,7.0,3.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0
750840,0.0,0.0,4.0,9.0,1.0,1.0,0.0,2.0,7.0,18.0,...,0.0,0.0,1.0,16.0,0.0,2.0,2.0,0.0,2.0,3.0
542475,0.0,0.0,11.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,72.0,0.0,0.0,0.0,1.0,8.0,0.0

In [ ]:
print(len(summed_otus_filtered_crosscor.index.to_list()))
print(len(original_otus_filtered.index.to_list()))

594
356

In [37]:
len(set(original_otus_filtered.index.to_list()).intersection(set(summed_otus_filtered_crosscor.index.to_list())))

264

In [38]:
merged_using_otus_from_cross_cross_correlation_with_merged_otus_df = merged_otu_df.loc[summed_otus_filtered_crosscor.index]
merged_using_otus_from_co_occurrence_with_original_otus_df = merged_otu_df.loc[original_otus_filtered.index]

In [39]:
merged_using_otus_from_cross_cross_correlation_with_merged_otus_df.shape

(594, 249)

In [40]:
merged_using_otus_from_co_occurrence_with_original_otus_df.shape

(356, 249)

In [41]:
merged_using_otus_from_cross_cross_correlation_with_merged_otus_df.to_csv("merged_using_otus_from_cross_cross_correlation_with_merged_otus_df.txt", sep='\t')
merged_using_otus_from_co_occurrence_with_original_otus_df.to_csv("merged_using_otus_from_co_occurrence_with_original_otus_df.txt", sep='\t')