# Analysis with the OTUs table

Separating OTUs for day and night samples, to analyze the cross-correlations.

This notebook also describes filtering steps, which is the same used for the Plant Center Retreat (OTUs are kept if 50% of samples have at least 0.001 relative abundance; also, OTUs with coefficient of variation above the 0.25 quartile is selected for correlations).

In [13]:
import pandas as pd

otu_table_df = pd.read_table('/home/santosrac/Projects/UGA_RACS/16S/otu_matrices/original_counts/2f_otu_table.sample_filtered.no_mitochondria_chloroplast.tsv',
                                      comment='#', dtype = {'OTU': str})

otu_table_df.set_index('OTU_ID', inplace=True)
otu_table_df.head()

/tmp/ipykernel_204885/3539093085.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  otu_table_df = pd.read_table('/home/santosrac/Projects/UGA_RACS/16S/otu_matrices/original_counts/2f_otu_table.sample_filtered.no_mitochondria_chloroplast.tsv',

,LMAN.8.14A0051,LMAN.8.14A0304,LMAD.8.14A0247,LMAN.8.14A0159,LMAD.8.14A0051,LMAD.26.14A0381,LMAD.26.14A0533,LMAD.8.14A0281,LMAD.8.14A0295,LMAN.26.14A0319,...,LMAN.26.14A0303,LMAN.8.14A0011,LMAD.26.14A0137,LMAN.26.14A0327,LMAN.8.14A0205,LMAD.8.14A0265,LMAD.26.14A0155,LMAD.26.14A0167,LMAD.26.14A0481,LMAN.26.14A0329
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,8.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,1.0,36.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Day samples
otu_table_day_df = otu_table_df.filter(like='LMAD')
otu_table_day_df.head()

,LMAD.8.14A0247,LMAD.8.14A0051,LMAD.26.14A0381,LMAD.26.14A0533,LMAD.8.14A0281,LMAD.8.14A0295,LMAD.26.14A0169,LMAD.8.14A0069,LMAD.26.14A0497,LMAD.8.14A0023,...,LMAD.8.14A0345,LMAD.8.14A0267,LMAD.8.14A0009,LMAD.8.14A0007,LMAD.26.14A0093,LMAD.26.14A0137,LMAD.8.14A0265,LMAD.26.14A0155,LMAD.26.14A0167,LMAD.26.14A0481
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,5.0,8.0,5.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Night samples
otu_table_night_df = otu_table_df.filter(like='LMAN')
otu_table_night_df.head()

,LMAN.8.14A0051,LMAN.8.14A0304,LMAN.8.14A0159,LMAN.26.14A0319,LMAN.26.14A0341,LMAN.8.14A0119,LMAN.8.14A0135,LMAN.26.14A0465,LMAN.8.14A0343,LMAN.26.14A0169,...,LMAN.8.14A0197,LMAN.8.14A0247,LMAN.26.14A0211,LMAN.8.14A0339,LMAN.26.14A0093,LMAN.26.14A0303,LMAN.8.14A0011,LMAN.26.14A0327,LMAN.8.14A0205,LMAN.26.14A0329
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,1.0,0.0,15.0,2.0,5.0,3.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,1.0,36.0,0.0,12.0,2.0,56.0,0.0,42.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Renaming columns of the day OTU dataframe
column_mapping_d = {col: col.split(".")[2]+"_"+col.split(".")[1] for col in otu_table_day_df.columns}
otu_table_day_df.rename(columns=column_mapping_d, inplace=True)
otu_table_day_df.head()

/tmp/ipykernel_204885/2595293900.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  otu_table_day_df.rename(columns=column_mapping_d, inplace=True)

,14A0247_8,14A0051_8,14A0381_26,14A0533_26,14A0281_8,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,5.0,8.0,5.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Renaming columns of the night OTU dataframe
column_mapping_n = {col: col.split(".")[2]+"_"+col.split(".")[1] for col in otu_table_night_df.columns}
otu_table_night_df.rename(columns=column_mapping_n, inplace=True)
otu_table_night_df.head()

/tmp/ipykernel_204885/4110399103.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  otu_table_night_df.rename(columns=column_mapping_n, inplace=True)

,14A0051_8,14A0304_8,14A0159_8,14A0319_26,14A0341_26,14A0119_8,14A0135_8,14A0465_26,14A0343_8,14A0169_26,...,14A0197_8,14A0247_8,14A0211_26,14A0339_8,14A0093_26,14A0303_26,14A0011_8,14A0327_26,14A0205_8,14A0329_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,1.0,0.0,15.0,2.0,5.0,3.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,1.0,36.0,0.0,12.0,2.0,56.0,0.0,42.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Generating CPM file to import in CoNekT Grasses Microbiome

To use in CoNekT Grasses Microbiome, the original OTU counts will be normalized to CPM.

A first step is to filter out microbiome samples that have no associated RNA-seq.

Importing the run annotation file:

In [18]:
otu_annotation_df = pd.read_table('/home/santosrac/Projects/UGA_RACS/CoNekT_Grasses_Microbiome/datasets/Maize/microbiome_runs_annotation.txt')
otu_annotation_df.set_index('RunID', inplace=True)
otu_annotation_df.head()

,SampleID,DOI,Strandness,Layout,SequencingPlatform
RunID,,,,,
microbiome_day_14A0253_26,14A0253_26_d,10.1094/PBIOMES-02-18-0008-R,unstranded,paired-end,illumina
microbiome_day_14A0171_26,14A0171_26_d,10.1094/PBIOMES-02-18-0008-R,unstranded,paired-end,illumina
microbiome_day_14A0045_8,14A0045_8_d,10.1094/PBIOMES-02-18-0008-R,unstranded,paired-end,illumina
microbiome_day_14A0085_8,14A0085_8_d,10.1094/PBIOMES-02-18-0008-R,unstranded,paired-end,illumina
microbiome_day_14A0079_26,14A0079_26_d,10.1094/PBIOMES-02-18-0008-R,unstranded,paired-end,illumina

In [20]:
otu_day_2filter = otu_table_day_df.copy()
column_mapping_d = {col: "microbiome_day_"+col for col in otu_table_day_df.columns}
otu_day_2filter.rename(columns=column_mapping_d, inplace=True)
otu_day_2filter.head()

,microbiome_day_14A0247_8,microbiome_day_14A0051_8,microbiome_day_14A0381_26,microbiome_day_14A0533_26,microbiome_day_14A0281_8,microbiome_day_14A0295_8,microbiome_day_14A0169_26,microbiome_day_14A0069_8,microbiome_day_14A0497_26,microbiome_day_14A0023_8,...,microbiome_day_14A0345_8,microbiome_day_14A0267_8,microbiome_day_14A0009_8,microbiome_day_14A0007_8,microbiome_day_14A0093_26,microbiome_day_14A0137_26,microbiome_day_14A0265_8,microbiome_day_14A0155_26,microbiome_day_14A0167_26,microbiome_day_14A0481_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,5.0,8.0,5.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
otu_night_2filter = otu_table_night_df.copy()
column_mapping_n = {col: "microbiome_night_"+col for col in otu_table_night_df.columns}
otu_night_2filter.rename(columns=column_mapping_n, inplace=True)
otu_night_2filter.head()

,microbiome_night_14A0051_8,microbiome_night_14A0304_8,microbiome_night_14A0159_8,microbiome_night_14A0319_26,microbiome_night_14A0341_26,microbiome_night_14A0119_8,microbiome_night_14A0135_8,microbiome_night_14A0465_26,microbiome_night_14A0343_8,microbiome_night_14A0169_26,...,microbiome_night_14A0197_8,microbiome_night_14A0247_8,microbiome_night_14A0211_26,microbiome_night_14A0339_8,microbiome_night_14A0093_26,microbiome_night_14A0303_26,microbiome_night_14A0011_8,microbiome_night_14A0327_26,microbiome_night_14A0205_8,microbiome_night_14A0329_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,1.0,0.0,15.0,2.0,5.0,3.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,1.0,36.0,0.0,12.0,2.0,56.0,0.0,42.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
concatenated_day_night_df = pd.concat([otu_day_2filter, otu_night_2filter], axis=1)
print(concatenated_day_night_df.shape)

(9057, 540)

In [32]:
concatenated_day_night_filtered_df = concatenated_day_night_df[concatenated_day_night_df.columns.intersection(otu_annotation_df.index)]
concatenated_day_night_filtered_df.head()

,microbiome_day_14A0247_8,microbiome_day_14A0051_8,microbiome_day_14A0381_26,microbiome_day_14A0533_26,microbiome_day_14A0295_8,microbiome_day_14A0169_26,microbiome_day_14A0069_8,microbiome_day_14A0497_26,microbiome_day_14A0023_8,microbiome_day_14A0547_26,...,microbiome_night_14A0085_8,microbiome_night_14A0345_8,microbiome_night_14A0409_26,microbiome_night_14A0247_8,microbiome_night_14A0211_26,microbiome_night_14A0339_8,microbiome_night_14A0093_26,microbiome_night_14A0011_8,microbiome_night_14A0205_8,microbiome_night_14A0329_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,8.0,5.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
from bioinfokit.analys import norm

# CPM (or RPM, reads per million) normalization
# Following Renesh Bedre's blog:
# https://www.reneshbedre.com/blog/expression_units.html#rpm-or-cpm-reads-per-million-mapped-reads-or-counts-per-million-mapped-reads-
nm = norm()
nm.cpm(df=concatenated_day_night_filtered_df)
otu_concatenated_day_night_filtered_cpm = nm.cpm_norm

In [39]:
otu_concatenated_day_night_filtered_cpm.head()

,microbiome_day_14A0247_8,microbiome_day_14A0051_8,microbiome_day_14A0381_26,microbiome_day_14A0533_26,microbiome_day_14A0295_8,microbiome_day_14A0169_26,microbiome_day_14A0069_8,microbiome_day_14A0497_26,microbiome_day_14A0023_8,microbiome_day_14A0547_26,...,microbiome_night_14A0085_8,microbiome_night_14A0345_8,microbiome_night_14A0409_26,microbiome_night_14A0247_8,microbiome_night_14A0211_26,microbiome_night_14A0339_8,microbiome_night_14A0093_26,microbiome_night_14A0011_8,microbiome_night_14A0205_8,microbiome_night_14A0329_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,112.208259,8.657409,394.218134,118.793062,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.000000,0.000000,0.000000,0.000000,81.650983,40.259594,9.219904,108.601216,25.374914,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,76.846231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.000000,0.000000,262.812089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,76.846231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
otu_concatenated_day_night_filtered_cpm.to_csv('/home/santosrac/Repositories/maize_microbiome_transcriptomics/poster_presentation_notebooks/pag_2025/otu_concatenated_day_night_filtered_cpm.tsv', sep='\t')

## Filtering the OTU tables based on the RNA-Seq (paired) samples

In [8]:
expression_counts_day = pd.read_csv("/home/santosrac/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/kremling_expression_v5_day.tsv",
                                    sep="\t")
expression_counts_day.set_index("Name", inplace=True)
expression_counts_night = pd.read_csv("/home/santosrac/Repositories/maize_microbiome_transcriptomics/correlations_rnaseq_metataxonomics/kremling_expression_v5_night.tsv",
                                    sep="\t")
expression_counts_night.set_index("Name", inplace=True)

In [9]:
# Filter columns of otu_table_day_df based on columns of expression_counts_day
filtered_otu_table_day_df = otu_table_day_df[otu_table_day_df.columns.intersection(expression_counts_day.columns)]
filtered_otu_table_day_df.head()

,14A0247_8,14A0051_8,14A0381_26,14A0533_26,14A0295_8,14A0169_26,14A0069_8,14A0497_26,14A0023_8,14A0547_26,...,14A0345_8,14A0267_8,14A0009_8,14A0007_8,14A0093_26,14A0137_26,14A0265_8,14A0155_26,14A0167_26,14A0481_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,8.0,5.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Filter columns of otu_table_night_df based on columns of expression_counts_night
filtered_otu_table_night_df = otu_table_night_df[otu_table_night_df.columns.intersection(expression_counts_night.columns)]
filtered_otu_table_night_df.head()

,14A0051_8,14A0159_8,14A0319_26,14A0119_8,14A0135_8,14A0465_26,14A0343_8,14A0169_26,14A0263_8,14A0117_8,...,14A0085_8,14A0345_8,14A0409_26,14A0247_8,14A0211_26,14A0339_8,14A0093_26,14A0011_8,14A0205_8,14A0329_26
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,15.0,5.0,3.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,1.0,0.0,12.0,56.0,0.0,42.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
print(filtered_otu_table_day_df.shape)
print(filtered_otu_table_night_df.shape)

(9057, 176)
(9057, 228)

In [12]:
filtered_otu_table_day_df.columns

Index(['14A0247_8', '14A0051_8', '14A0381_26', '14A0533_26', '14A0295_8',
       '14A0169_26', '14A0069_8', '14A0497_26', '14A0023_8', '14A0547_26',
       ...
       '14A0345_8', '14A0267_8', '14A0009_8', '14A0007_8', '14A0093_26',
       '14A0137_26', '14A0265_8', '14A0155_26', '14A0167_26', '14A0481_26'],
      dtype='object', length=176)

In [15]:
# Renaming columns before merging again
column_mapping_d_filtered = {col: col+"_d" for col in filtered_otu_table_day_df.columns}
filtered_otu_table_day_df.rename(columns=column_mapping_d_filtered, inplace=True)
filtered_otu_table_day_df.head()

/tmp/ipykernel_34476/2902552157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_otu_table_day_df.rename(columns=column_mapping_d_filtered, inplace=True)

,14A0247_8_d,14A0051_8_d,14A0381_26_d,14A0533_26_d,14A0295_8_d,14A0169_26_d,14A0069_8_d,14A0497_26_d,14A0023_8_d,14A0547_26_d,...,14A0345_8_d,14A0267_8_d,14A0009_8_d,14A0007_8_d,14A0093_26_d,14A0137_26_d,14A0265_8_d,14A0155_26_d,14A0167_26_d,14A0481_26_d
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,0.0,0.0,8.0,5.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Renaming columns before merging again
column_mapping_n_filtered = {col: col+"_n" for col in filtered_otu_table_night_df.columns}
filtered_otu_table_night_df.rename(columns=column_mapping_n_filtered, inplace=True)
filtered_otu_table_night_df.head()

/tmp/ipykernel_34476/797548205.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_otu_table_night_df.rename(columns=column_mapping_n_filtered, inplace=True)

,14A0051_8_n,14A0159_8_n,14A0319_26_n,14A0119_8_n,14A0135_8_n,14A0465_26_n,14A0343_8_n,14A0169_26_n,14A0263_8_n,14A0117_8_n,...,14A0085_8_n,14A0345_8_n,14A0409_26_n,14A0247_8_n,14A0211_26_n,14A0339_8_n,14A0093_26_n,14A0011_8_n,14A0205_8_n,14A0329_26_n
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,0.0,15.0,5.0,3.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,1.0,0.0,12.0,56.0,0.0,42.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Concatenate the two dataframes before filtering
filtered_otu_table_day_night_df = pd.concat([filtered_otu_table_day_df, filtered_otu_table_night_df], axis=1)
filtered_otu_table_day_night_df.shape

(9057, 404)

Computing relative abundance for the dataframe (day and night samples that have a pair in the RNA-Seq data)

In [26]:
filtered_otu_table_day_night_rel_abund = filtered_otu_table_day_night_df.divide(filtered_otu_table_day_night_df.sum())
filtered_otu_table_day_night_rel_abund = filtered_otu_table_day_night_rel_abund * 100
filtered_otu_table_day_night_rel_abund.head()

,14A0247_8_d,14A0051_8_d,14A0381_26_d,14A0533_26_d,14A0295_8_d,14A0169_26_d,14A0069_8_d,14A0497_26_d,14A0023_8_d,14A0547_26_d,...,14A0085_8_n,14A0345_8_n,14A0409_26_n,14A0247_8_n,14A0211_26_n,14A0339_8_n,14A0093_26_n,14A0011_8_n,14A0205_8_n,14A0329_26_n
OTU_ID,,,,,,,,,,,,,,,,,,,,,
4479944,0.011221,0.000866,0.039422,0.011879,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.000000,0.000000,0.000000,0.000000,0.008165,0.004026,0.000922,0.01086,0.002537,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.007685,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,0.000000,0.000000,0.026281,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.007685,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Filtering OTUs based on relative abundance across samples:

In [27]:
otus_tokeep = filtered_otu_table_day_night_rel_abund[(filtered_otu_table_day_night_rel_abund > 0.001).sum(axis=1) >= (filtered_otu_table_day_night_rel_abund.shape[1] * 0.5)].index

In [32]:
filtered_otu_table_day_night_filtered_rel_abund = filtered_otu_table_day_night_df[filtered_otu_table_day_night_df.index.isin(otus_tokeep)]
filtered_otu_table_day_night_filtered_rel_abund.shape

(368, 404)

Filtering OTUs based on the quartile value of coefficient of variation:

In [33]:
import numpy as np
filtered_otu_table_day_night_filtered_rel_abund_cv = filtered_otu_table_day_night_filtered_rel_abund.apply(lambda row: np.std(row) / np.mean(row), axis=1)
filtered_otu_table_day_night_filtered_rel_abund_cv_filtered = filtered_otu_table_day_night_filtered_rel_abund.loc[filtered_otu_table_day_night_filtered_rel_abund_cv[filtered_otu_table_day_night_filtered_rel_abund_cv > filtered_otu_table_day_night_filtered_rel_abund_cv.quantile(q=0.25)].index]

In [34]:
filtered_otu_table_day_night_filtered_rel_abund_cv_filtered.shape

(276, 404)

In [39]:
filtered_otu_table_day_filtered_rel_abund_cv_filtered = filtered_otu_table_day_night_filtered_rel_abund_cv_filtered.filter(like='_d')
print(filtered_otu_table_day_filtered_rel_abund_cv_filtered.shape)
filtered_otu_table_night_filtered_rel_abund_cv_filtered = filtered_otu_table_day_night_filtered_rel_abund_cv_filtered.filter(like='_n')
print(filtered_otu_table_night_filtered_rel_abund_cv_filtered.shape)

(276, 176)
(276, 228)

In [40]:
column_mapping_d_final = {col: col.replace("_d", "") for col in filtered_otu_table_day_filtered_rel_abund_cv_filtered.columns}
filtered_otu_table_day_filtered_rel_abund_cv_filtered.rename(columns=column_mapping_d_final, inplace=True)
column_mapping_n_final = {col: col.replace("_n", "") for col in filtered_otu_table_night_filtered_rel_abund_cv_filtered.columns}
filtered_otu_table_night_filtered_rel_abund_cv_filtered.rename(columns=column_mapping_n_final, inplace=True)

/tmp/ipykernel_34476/952276794.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_otu_table_day_filtered_rel_abund_cv_filtered.rename(columns=column_mapping_d_final, inplace=True)
/tmp/ipykernel_34476/952276794.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_otu_table_night_filtered_rel_abund_cv_filtered.rename(columns=column_mapping_n_final, inplace=True)

In [43]:
print(filtered_otu_table_night_filtered_rel_abund_cv_filtered.shape)
print(filtered_otu_table_day_filtered_rel_abund_cv_filtered.shape)

(276, 228)
(276, 176)

In [45]:
filtered_otu_table_night_filtered_rel_abund_cv_filtered.to_csv("filtered_otu_table_night_filtered_rel_abund_cv_filtered.tsv", sep="\t")
filtered_otu_table_day_filtered_rel_abund_cv_filtered.to_csv("filtered_otu_table_day_filtered_rel_abund_cv_filtered.tsv", sep="\t")