# Getting the core microbiomes

Using definition from [Wallace et al (2018)](https://apsjournals.apsnet.org/doi/full/10.1094/PBIOMES-02-18-0008-R), the core microbiome would comprise of OTUs present in at least 80% of samples.

Here, I (RACS) will apply the same definition to get core microbiome for:

 * OTU table from Wallace et al (2018)
 * Feature table with ASVs generated with dada2 (min quality 20 both sides of forward reads)
 * Feature table with ASVs generated with dada2 in MaLiAmPi (default parameters), which was used to generate phylotypes in first analyses using this Python library (phylotypes)
 * Feature table using phylotypes generated after running MaLiAmPi with default parameters

## OTU table

The generation of OTU count tables were done using the biom software, included in qiime2 as described [here](https://gitlab.com/SantosRAC/conekt-grasses-microbiome/-/wikis/Running-correlations-for-OTUs-in-Dr.-Wallace's-manuscript-vs-TPM).

In [1]:
import pandas as pd

out_table_taxonomy_df = pd.read_table('/media/rsantos/4TB_drive/Projects/UGA_RACS/16S/Workflow/2_QiimeOtus/2f_otu_table.sample_filtered.no_mitochondria_chloroplast_taxonomy.tsv',
                                      comment='#')
#out_table_taxonomy_df = pd.read_table('/home/renato/Downloads/Workflow/2_QiimeOtus/2f_otu_table.sample_filtered.no_mitochondria_chloroplast_taxonomy.tsv',
#                                      comment='#')

out_table_taxonomy_df.head()

/tmp/ipykernel_335005/2681748621.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  out_table_taxonomy_df = pd.read_table('/media/rsantos/4TB_drive/Projects/UGA_RACS/16S/Workflow/2_QiimeOtus/2f_otu_table.sample_filtered.no_mitochondria_chloroplast_taxonomy.tsv',

,OTU ID,LMAN.8.14A0051,LMAN.8.14A0304,LMAD.8.14A0247,LMAN.8.14A0159,LMAD.8.14A0051,LMAD.26.14A0381,LMAD.26.14A0533,LMAD.8.14A0281,LMAD.8.14A0295,...,LMAN.8.14A0011,LMAD.26.14A0137,LMAN.26.14A0327,LMAN.8.14A0205,LMAD.8.14A0265,LMAD.26.14A0155,LMAD.26.14A0167,LMAD.26.14A0481,LMAN.26.14A0329,taxonomy
0,4479944,1.0,2.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Actinobacteria; c__MB-A2-108; ...
1,995900,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Proteobacteria; c__Gammaproteo...
2,1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Bacteroidetes; c__Cytophagia; ...
3,541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Tenericutes; c__Mollicutes; o_...
4,533625,1.0,36.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Proteobacteria; c__Alphaproteo...

In [2]:
# I (RACS) manually removed hashtag from biom output before importing with pandas
out_table_taxonomy_df.set_index('OTU ID', inplace=True)
out_table_taxonomy_df.head()

,LMAN.8.14A0051,LMAN.8.14A0304,LMAD.8.14A0247,LMAN.8.14A0159,LMAD.8.14A0051,LMAD.26.14A0381,LMAD.26.14A0533,LMAD.8.14A0281,LMAD.8.14A0295,LMAN.26.14A0319,...,LMAN.8.14A0011,LMAD.26.14A0137,LMAN.26.14A0327,LMAN.8.14A0205,LMAD.8.14A0265,LMAD.26.14A0155,LMAD.26.14A0167,LMAD.26.14A0481,LMAN.26.14A0329,taxonomy
OTU ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Actinobacteria; c__MB-A2-108; ...
995900,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,8.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Proteobacteria; c__Gammaproteo...
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Bacteroidetes; c__Cytophagia; ...
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Tenericutes; c__Mollicutes; o_...
533625,1.0,36.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,k__Bacteria; p__Proteobacteria; c__Alphaproteo...

In [3]:
value = out_table_taxonomy_df.loc[4450360, 'taxonomy']
print(value)

k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__

In [4]:
out_table_df = out_table_taxonomy_df.drop('taxonomy', axis=1)
out_table_df.head()

,LMAN.8.14A0051,LMAN.8.14A0304,LMAD.8.14A0247,LMAN.8.14A0159,LMAD.8.14A0051,LMAD.26.14A0381,LMAD.26.14A0533,LMAD.8.14A0281,LMAD.8.14A0295,LMAN.26.14A0319,...,LMAN.26.14A0303,LMAN.8.14A0011,LMAD.26.14A0137,LMAN.26.14A0327,LMAN.8.14A0205,LMAD.8.14A0265,LMAD.26.14A0155,LMAD.26.14A0167,LMAD.26.14A0481,LMAN.26.14A0329
OTU ID,,,,,,,,,,,,,,,,,,,,,
4479944,1.0,2.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995900,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,8.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1124709,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533625,1.0,36.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
def core_filter(df, threshold=0.5):
    # 
    threshold_int = int(df.shape[1] * threshold)
    print(f'Threshold: {threshold_int} (threshold * number of columns)')
    zero_counts = df.apply(lambda row: (row == 0).sum(), axis=1)
    nonzero_counts = df.shape[1] - zero_counts
    return df[nonzero_counts > threshold_int]

In [6]:
out_table_filtered_core_df = core_filter(out_table_df, 0.8)
out_table_filtered_core_df.head()

Threshold: 432 (threshold * number of columns)

,LMAN.8.14A0051,LMAN.8.14A0304,LMAD.8.14A0247,LMAN.8.14A0159,LMAD.8.14A0051,LMAD.26.14A0381,LMAD.26.14A0533,LMAD.8.14A0281,LMAD.8.14A0295,LMAN.26.14A0319,...,LMAN.26.14A0303,LMAN.8.14A0011,LMAD.26.14A0137,LMAN.26.14A0327,LMAN.8.14A0205,LMAD.8.14A0265,LMAD.26.14A0155,LMAD.26.14A0167,LMAD.26.14A0481,LMAN.26.14A0329
OTU ID,,,,,,,,,,,,,,,,,,,,,
734945,143.0,490.0,629.0,2538.0,110.0,25.0,44.0,10.0,236.0,2614.0,...,10.0,4.0,498.0,33.0,443.0,42.0,49.0,62.0,19.0,3.0
1074373,295.0,34.0,29.0,6.0,198.0,9.0,13.0,549.0,326.0,31.0,...,1.0,2.0,11.0,0.0,0.0,34.0,4.0,9.0,15.0,0.0
4418394,2129.0,1559.0,3.0,86.0,1695.0,25.0,3.0,260.0,109.0,213.0,...,311.0,13.0,41.0,2.0,2.0,17.0,78.0,28.0,11.0,4.0
561885,1380.0,3455.0,592.0,452.0,8201.0,25.0,81.0,3899.0,8683.0,9281.0,...,239.0,7.0,32.0,2.0,35.0,3.0,4.0,1.0,4.0,0.0
487725,13.0,18.0,3.0,16.0,1.0,2.0,1.0,0.0,2.0,1737.0,...,1.0,2.0,4.0,0.0,6.0,0.0,1.0,1.0,1.0,0.0

In [7]:
out_table_filtered_core_df.shape

(80, 540)

In [8]:
row_sums = out_table_filtered_core_df.sum(axis=1)
row_sums.sort_values(ascending=False, inplace=True)
row_sums.head(n=30)

OTU ID
4450360    6139303.0
58865      5377591.0
334409     4781476.0
895733     2320838.0
575956     2104206.0
714278     1845464.0
1080436    1468586.0
941237     1035760.0
1111874    1030262.0
607212      870107.0
1091060     845626.0
1045797     814473.0
1061429     799176.0
4104869     688481.0
561885      577457.0
734945      521941.0
4317400     497141.0
922761      459211.0
907206      403764.0
186518      402674.0
574655      349397.0
1760354     317567.0
572586      275794.0
591699      249537.0
966903      228693.0
406145      178239.0
868791      176688.0
1108960     171986.0
899931      152867.0
861160      149002.0
dtype: float64

In [9]:
#print(pd.get_option('display.max_colwidth'))
pd.set_option('max_colwidth', 1000)
print(out_table_taxonomy_df.loc[row_sums.head(n=30).index]['taxonomy'])
pd.set_option('max_colwidth', 50)
#print(pd.get_option('display.max_colwidth'))

OTU ID
4450360               k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
58865                 k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
334409                k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
895733     k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhizobiales; f__Methylobacteriaceae; g__Methylobacterium; s__adhaesivum
575956                               k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhizobiales; f__Methylobacteriaceae; g__; s__
714278      k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__yabuuchiae
1080436                                 k__Bacteria; p__Bacteroidetes; c__Cytophagia; o__Cytophagales; f__Cytophagaceae; g__Hymenobacter; s__
941237                k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
1111874                         k__Bacteria; p__Proteobacteria; c__Gammaproteobacteria; o__Enterobacteriales; f__Enterobacteriaceae; g__; s__
607212                k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
1091060                                     k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae
1045797         k__Bacteria; p__Actinobacteria; c__Actinobacteria; o__Actinomycetales; f__Microbacteriaceae; g__Microbacterium; s__chocolatum
1061429                                          k__Bacteria; p__Proteobacteria; c__Betaproteobacteria; o__Burkholderiales; f__Comamonadaceae
4104869                   k__Bacteria; p__Bacteroidetes; c__Flavobacteriia; o__Flavobacteriales; f__[Weeksellaceae]; g__Chryseobacterium; s__
561885                         k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhizobiales; f__Rhizobiaceae; g__Agrobacterium; s__
734945                k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
4317400               k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
922761                   k__Bacteria; p__Proteobacteria; c__Gammaproteobacteria; o__Enterobacteriales; f__Enterobacteriaceae; g__Erwinia; s__
907206                k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
186518                               k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhizobiales; f__Methylobacteriaceae; g__; s__
574655               k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhizobiales; f__Methylobacteriaceae; g__Methylobacterium; s__
1760354                   k__Bacteria; p__Actinobacteria; c__Actinobacteria; o__Actinomycetales; f__Microbacteriaceae; g__Microbacterium; s__
572586               k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhizobiales; f__Methylobacteriaceae; g__Methylobacterium; s__
591699     k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhizobiales; f__Methylobacteriaceae; g__Methylobacterium; s__adhaesivum
966903                                  k__Bacteria; p__Bacteroidetes; c__Cytophagia; o__Cytophagales; f__Cytophagaceae; g__Hymenobacter; s__
406145                        k__Bacteria; p__Proteobacteria; c__Gammaproteobacteria; o__Pseudomonadales; f__Pseudomonadaceae; g__Pseudomonas
868791                k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
1108960               k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Sphingomonadales; f__Sphingomonadaceae; g__Sphingomonas; s__
899931                                              k__Bacteria; p__Bacteroidetes; c__Cytophagia; o__Cytophagales; f__Cytophagaceae; g__; s__
861160               k__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhizobiales; f__Methylobacteriaceae; g__Methylobacterium; s__
Name: taxonomy, dtype: object

In [10]:
pd.get_option('display.max_colwidth')

50

## Feature table with ASVs from dada2 (qual 20, forward reads)

### Importing ASV data

Generated from processing 16S data from Wallace et al. (2018):

In [11]:
wallace_asvs = pd.read_csv('/media/rsantos/4TB_drive/Projects/UGA_RACS/16S/Qiime2/dada2/as_single_q20/table-paired-end_wallace2018_assingle_forward_q20-dada2_feature-table/q20_fw_feature-table.tsv',
                           sep='\t')

# Rename column and reset the index
wallace_asvs.rename(columns={'ASV': 'Name'}, inplace=True)
wallace_asvs.set_index('Name', inplace=True)

# Print the dataframe
wallace_asvs.head()

,SRR6665476,SRR6665477,SRR6665478,SRR6665479,SRR6665480,SRR6665481,SRR6665482,SRR6665483,SRR6665484,SRR6665485,...,SRR6666058,SRR6666059,SRR6666060,SRR6666061,SRR6666062,SRR6666063,SRR6666064,SRR6666065,SRR6666066,SRR6666067
Name,,,,,,,,,,,,,,,,,,,,,
bc664ea528899e36452dd37c1f55a48a,47869.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,78028.0,0.0,0.0,0.0,0.0,0.0,58946.0,3868.0,0.0
232ad9e267688a5d573112b4855bac96,0.0,2727.0,4065.0,27528.0,7244.0,3035.0,2433.0,847.0,2351.0,830.0,...,18215.0,0.0,9866.0,13921.0,29850.0,1713.0,11708.0,0.0,0.0,3469.0
6967c9a10eff11f751218e759df28ab7,0.0,610.0,4147.0,267.0,6479.0,7206.0,6862.0,7565.0,12271.0,1298.0,...,742.0,0.0,12448.0,225.0,7830.0,47503.0,1241.0,0.0,0.0,920.0
fa79d5937f424b58a27843dfff8bdcd4,0.0,1837.0,2993.0,18227.0,4525.0,1975.0,1701.0,545.0,1492.0,567.0,...,12277.0,0.0,6519.0,8965.0,22337.0,1113.0,7897.0,0.0,0.0,2223.0
e6b96dce8fbd261b8836b93b9a1d5e07,0.0,1767.0,3093.0,19988.0,5185.0,2100.0,1768.0,542.0,1485.0,603.0,...,11994.0,0.0,6479.0,9388.0,25538.0,1041.0,7923.0,0.0,0.0,2095.0

### Importing ASV classification data using SILVA database

Generated from running scikit-learn classifier with SILVA 16S data:

In [18]:
wallace_asvs_q20_fw_taxonomy = pd.read_csv('/media/rsantos/4TB_drive/Projects/UGA_RACS/16S/Qiime2/dada2/as_single_q20/silva_taxonomy_fw_q20_table/taxonomy.tsv',
                           sep='\t')

wallace_asvs_q20_fw_taxonomy.rename(columns={'Feature ID': 'Name'}, inplace=True)
wallace_asvs_q20_fw_taxonomy.set_index('Name', inplace=True)

wallace_asvs_q20_fw_taxonomy.head()

,Taxon,Confidence
Name,,
bc664ea528899e36452dd37c1f55a48a,Unassigned,0.338143
232ad9e267688a5d573112b4855bac96,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,0.904623
6967c9a10eff11f751218e759df28ab7,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,0.964995
fa79d5937f424b58a27843dfff8bdcd4,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,0.887625
e6b96dce8fbd261b8836b93b9a1d5e07,d__Bacteria; p__Proteobacteria; c__Alphaproteo...,0.897683

In [27]:
wallace_asvs_filtered_core_df = core_filter(wallace_asvs, 0.5)
wallace_asvs_filtered_core_df.shape

Threshold: 296 (threshold * number of columns)

(12, 592)

Using the same threshold used by Dr. Wallace in the manuscript (80%) it is not possible to get the core microbiota.

## Feature table with ASVs from dada2 (MaLiAmPi)

## Feature table with phylotypes generated from MaLiAmPi with default params